<div class="container mx-auto px-4">
        <p class="my-0 font-bold">Copyright © <%= author.name %> 2019</p>
        <p class="my-0">Running <%= site.title %> version <code><%= site.version %></code></p>
</div>