<!DOCTYPE html lang="en" prefix="og: https://ogp.me/ns#">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div id="app">
		<header>
			<% include ../partials/header %>
			<style>
				.alert {
					margin-bottom: 1rm;
				}
			</style>
			<div class="my-2"></div>
		</header>

                 <main class="container mx-auto px-4">
       <h3 class="font-light">Admin Panel</h3>
       <div class="grid gap-4 mt-4 grid-cols-2 sm:grid-cols-3 lg:grid-cols-6">
         <div>
           <a href="/admin/bans" class="block border rounded p-4 text-center text-red-600">
               <p><i class="far fa-gavel fa-3x"></i></p>
               <p class="mb-0">Bans</p>
           </a>
         </div>
         <div>
           <a href="/admin/users" class="block border rounded p-4 text-center text-blue-600">
               <p><i class="far fa-user fa-3x"></i></p>
               <p class="mb-0">Users</p>
           </a>
         </div>
       </div>
     </main>

  <footer class="footer">
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>