<!DOCTYPE html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div id="app">
		<header>
			<% include ../partials/header %>
			<style>
				.alert {
					margin-bottom: 1rm;
				}
			</style>
			<div class="my-2"></div>
		</header>

                <main>
                        <div class="container mx-auto px-4">
                                <h3 class="text-xl font-semibold">Settings</h3>

                                <p class="font-bold">Discord</p>
                                <a href="/api/auth/discord" class="bg-blue-500 text-white px-4 py-2 rounded inline-block mt-2">Login with Discord</a>
                        </div>
                </main>
	</div>
	<footer class="footer">
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>